@page
@model EyesOnMeCore.Pages.BrowserCheckModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="js/BrowserScan.js"></script>
    <style>
        body {
            background-color: #333;
            color: #fff;
		}

		#overlay {
			position: fixed;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			z-index: 2;
			cursor: pointer;
		}
    </style>
</head>
<body style="color: #fff;">
	<div id="overlay"></div>
	<main>
		<section class="hero">
			<h2>Scan your browser for data collection software</h2>
			<p>This tool would have scanned your browser for any tracking being done through the extensions you have installed.
				Due to changes in Google Chrome, this functionality has now been discontinued, and this function no longer works. 
				I've decided to keep this page up, for more information as to why this occured, see the development doccumentation in the report.
			</p>
			<button onclick="browserscanon()" type="submit" class="btn-primary">Scan Now</button>
		</section>
	</main>
	<script>
		
    function UrlExists(url, cb) {
        jQuery.ajax({
            url:
                url,
            dataType: 'text',
            type:
                'GET',
            complete: function (xhr) {
                if (typeof cb === 'function')
                    cb.apply(this, [xhr.status]);
            }
        });
    }
		function RunFullScan(){
    UrlExists('chrome-extension://nemmanchfojaehgkbgcfmdiidbopakpp/js/virtru-content.js', function (status) {
    });
    if (status === 200) {
            console.log("Virtru Exists!");
    } else if (status === 404) {
        console.log("No Virtru :(");
    } else {
    }
		}
		function browserscanon() {
			document.getElementById("overlay").style.display = "block";
			RunFullScan();
		}

		function browserscanoff() {
			document.getElementById("overlay").style.display = "none";
		}

	</script>
</body>
</html>
