@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
    </style>
</div>
<body >
    <main>
        
        <section id="email-scanner">
            <h1>Email Scanner</h1>
            <p>Generate Subject Action Requests against all organisation gathering data on you</p>
            <a href="/EmailCheck">Learn More</a>
        </section>
        <section id="subject-action-request-generation">
            <h1>Subject Action Request Generation</h1>
            <p>Securely generate and send Subject Action Requests to data controllers to exercise your rights under data protection laws.</p>
            <a href="/LegalRequest">Learn More</a>
        </section>
        <section id="browser-scanner">
            <h1>Browser Scanner</h1>
            <p>A depreciated tool that would have scanned your browser extensions for unethical tracking, this section has now been discontinued.</p>
            <a href="/BrowserCheck">Learn More</a>
        </section>
    </main>
</body>

