@page
@model EyesOnMeCore.Pages.MailFrontendModel
@{
}
<head>
    <meta charset="UTF-8">
    <title>Email Security Scan</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <main>
        <section class="hero">
            <h2>Run subject action requests against all marketers</h2>
            <p>This tool will search through all the marketing emails in your inbox and send out subject action requests to each of them, requesting all data that they've gathered on you for marketing purposes'</p>
            <br />
            <button onclick="window.location.href='/EmailCheck';"  class="btn-primary">Generate Request</button>
        </section>
    </main>
    <script>

        function postrequest() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("demo").innerHTML = this.responseText;
            }
            xhttp.open("POST", "EmailRequest");

            text = document.getElementById("subjecttext").value, useridtemp;
            const obj = JSON.stringify(text);
            xhttp.send(obj);
        }

    </script>
</body>