@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>
            This project is designed to prioritise user privacy and no data is retained beyond what is necessary.
        </p>
        <h2>Information Collected</h2>
        <p>
            Giving this site access to your Google account will only allow the site access to the data on marketing emails sent to you.
            your google account information, non marketing emails or any other personal data is not accessed.
        </p>
        <h2>How Your Information is used</h2>
        <p>
            No personal information is retained by this site except your email address and the text of the requests that you have generated.
        </p>
        <h2>Your Rights</h2>
        <p>
            You're free to delete any data collected on you by hitting the delete requests button on the legal request page.
        </p>
        <h2>Security</h2>
        <p>
            This data is securely stored externally using microsoft azure.
        </p>
    </div>
</body>
</html>
